/* Write your CSS here */
.repo-list-container {
  list-style-type: none;
  background-color: #f8f8ff;
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.avatar-img {
  height: 100px;
  width: 100px;
  align-self: center;
}
.repo-heading {
  font-size: 15px;
  color: #e73959;
  text-align: center;
  align-self: center;
}
.options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 15px;
}
.icon {
  height: 1rem;
  width: 1rem;
  margin: 5px 10px 5px 0px;
}
.count {
  font-size: 13px;
  margin: 0px;
}
